text {
  font-family: helvetica,arial,sans-serif;
  pointer-events: none;
}
.download_this{
    height:40px;
    width:57px;
    color: #3275B8;
    padding-top: 3px;
    background-color: #00000000;
    border-color: #00000000;
 
}

